
#board{
 margin-top: 8%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    min-width: 20px;
    min-height: 20px;
    /*background-color:black;*/
    display: inline-block;
}

body{
    background-color: #ff6b68;
    text-align: center;
    font-family: 'Press Start 2P', "consolas", cursive;
}

#timer{
    text-align: center;
    font-family: 'Press Start 2P', "consolas", cursive;
    font-size:10px;
}
